<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Hello, thank you for logging in. You can't log out, so you're stuck</h1>
  </body>
</html>
